.home-link-navbar {
    margin-left: 2rem;
}

.reset-button-navbar {
    background-color: black;
    border: 0.05rem solid black;
    color:red;
    margin-left: 2rem;
}
.reset-button-navbar:focus {
    box-shadow: none;
    background-color: white;
    border: 0.05rem solid white;
    color:red;
}
.reset-button-navbar:hover {
    box-shadow: none;
    background-color: red;
    border: 0.05rem solid red;
    color: white;
}

.title-navbar {
    color: white;
    width: 100%;
    margin-left: 22%;
}

.login-link-navbar {
    color: white !important;
}

.register-link-navbar {
    margin-right: 2rem;
    color: white !important;
}