.container-wrapper-navbar {
    background-color: black !important;
}

.home-link-navbar {
    margin-left: 2rem;
    color: white !important;
}

.reset-button-navbar {
    background-color: black;
    border: 0.05rem solid black;
    color:red;
    margin-left: 2rem;
}
.reset-button-navbar:focus {
    box-shadow: none !important;
    background-color: black;
    border: 0.05rem solid black;
    color:red;
}
.reset-button-navbar:hover {
    box-shadow: none !important;
    background-color: black;
    border: 0.05rem solid black;
    color: red;
}

.title-navbar {
    color: white;
    width: 100%;
    margin-left: 10%;
}
.inicial-title-navbar {
    color: white;
    width: 100%;
    margin-left: 25%;
}

.graphics-link-navbar {
    color: chartreuse !important;
    margin-left:2rem;
}

.login-link-navbar {
    color: white !important;
    margin-right: 1rem;
}

.register-link-navbar {
    margin-right: 3rem;
    color: white !important;
}