.card-container-user {
    margin: 0 8rem 0.1rem 8rem;
    border: none;
    border-radius: 0;
    border-bottom: 0.1rem solid black;
    background-color: black;
    color: white;
}

.card-body-user {
    display: flex;
    justify-content: space-between;
    height: 2.8rem;
    padding: 0;
}

.card-text-title-user {
    font-size:1.3rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.card-text-email-user {
  margin-top: 0.8rem;
  margin-left: 1rem;
}

.card-button-delete-user {
    background-color: black;
    border: 0.1rem solid black;
    color: red;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
}
.card-button-delete-user:focus {
    box-shadow: none !important;
    background-color: black;
    border: 0.1rem solid black;
    color: red;
} 
.card-button-delete-user:hover {
    color: red;
    background-color: black;
    border: 0.1rem solid black;
} 

.card-button-edit-user {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    color: chartreuse;
    background-color: black;
    border: 0.1rem solid black;
}
.card-button-edit-user:focus {
    box-shadow: none !important;
    color: chartreuse;
    background-color: black;
    border: 0.1rem solid black;
} 
.card-button-edit-user:hover {
    color: chartreuse;
    background-color: black;
    border: 0.1rem solid black;
} 

.modal-edit-header {
    background-color: black;
    color: white;
    border: 0.1rem solid white;
    display: flex;
    justify-content: center;
}

.modal-edit-footer {
    background-color: black;
    border: 0.1rem solid white;
}

.modal-form-label {
    margin-top: 0;
}

.modal-form-control {
    border: none;
    border-radius: 0;
    border-bottom: 0.1rem solid black;
}
.modalform-control:focus {
    box-shadow: none;
}

.modal-button-edit-user {
    color: chartreuse;
    background-color: black;
    border: 0.1rem solid black;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}
.modal-button-edit-user:focus {
    box-shadow: none !important;
    color: chartreuse;
    background-color: black;
    border: 0.1rem solid black;
} 
.modal-button-edit-user:hover {
    color: chartreuse;
    background-color: black;
    border: 0.1rem solid black;
} 

.modal-button-close-user {
    color: red;
    background-color: black;
    border: 0.1rem solid black;
} 
.modal-button-close-user:focus {
    box-shadow: none !important;
    color: red;
    background-color: black;
    border: 0.1rem solid black;
} 
.modal-button-close-user:hover {
    color: red;
    background-color: black;
    border: 0.1rem solid black;
} 
