.card-container-user {
    margin: 0 8rem 0.2rem 8rem;
    border: none;
    border-radius: 0;
    border-bottom: 0.1rem solid gray;
}

.card-body-user {
    display: flex;
    justify-content: space-between;
    height: 2.8rem;
    padding: 0;
}

.card-text-title-user {
    font-size:1.3rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.card-text-email-user {
  margin-top: 0.8rem;
  margin-left: 1rem;
}

.card-button-delete-user {
    background-color: lightgray;
    border: 0.1rem solid gray;
    color: black;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
}
.card-button-delete-user:focus {
    box-shadow: none !important;
    background-color: lightgray;
    border: 0.1rem solid gray;
    color: black;
} 
.card-button-delete-user:hover {
    color: white;
    background-color: gray;
    border: 0.1rem solid gray;
} 

.card-button-edit-user {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}
.card-button-edit-user:focus {
    box-shadow: none !important;
} 


.modal-button-edit-user {
    background-color: lightgray;
    border: 0.1rem solid gray;
    color: black;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
}
.modal-button-edit-user:focus {
    box-shadow: none !important;
    background-color: lightgray;
    border: 0.1rem solid gray;
    color: black;
} 
.modal-button-edit-user:hover {
    color: white;
    background-color: gray;
    border: 0.1rem solid gray;
} 

.modal-button-close-user:focus {
    box-shadow: none !important;
} 
